@font-face {
  font-family: 'DriftWood';
  src: local('DriftWood'), url("./assets/fonts/Drift___.ttf") format('truetype');
}

body {
  letter-spacing: -0.3px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  font-family: open sans, Helvetica, Arial, sans-serif, Drift;
  margin: 0 !important;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}




